.btn {
  display: inline-block;

  border: 0;
  border-radius: 0;
  outline: none;

  font-size: 24px;
  line-height: 1;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: $letter-spacing-25;

  transition: .3s;
  &--red {
    min-width: 220px;
    padding: 18px 15px;

    background: #c90202;
    &:hover,
    &:active {
      background: #830202;
    }
  }
  &--orange {
    min-width: 200px;
    padding: 13px 15px;

    background: #ff9302;
    &:hover,
    &:active {
      background: #c60;
    }
  }
  &--present {
    min-width: 160px;
    padding: 8px 15px;
  }
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;

  width: 30px;
  height: 30px;
  padding: 0;

  border: 0;
  outline: none;
  background: none;
  svg {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    fill: #fff;
  }
}

@media #{$smart} {
  .btn {
    padding: 12px 15px;

    font-size: 16px;
    &--red {
      min-width: 160px;
    }
    &--orange {
      min-width: 140px;
    }
    &--present {
      padding: 8px 15px;
    }
  }
}
