.btn {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  font-size: 24px;
  line-height: 1;
  border-radius: 0;
  letter-spacing: $letter-spacing-25;
  color: #fff;
  text-decoration: none;
  text-align: center;
  outline: none;
  transition: .3s;
  &--red {
    min-width: 220px;
    background: #c90202;
    padding: 18px 15px;
    &:hover,
    &:active {
      background: #830202;
    }
  }
  &--orange {
    min-width: 200px;
    padding: 13px 15px;
    background: #ff9302;
    &:hover,
    &:active {
      background: #cc6600;
    }
  }
}
.btn-close {

}
@media #{$smart} {
  .btn {
    font-size: 16px;
    // &--red {
    //   min-width: 220px;
    //   background: #c90202;
    //   padding: 18px 15px;
    //   &:hover,
    //   &:active {
    //     background: #830202;
    //   }
    // }
    &--orange {
      min-width: 140px;
      padding: 12px 15px;
    }
    &--brightness {
      background: #ff6600;
    }
  }
}
