.works {
  padding: 87px 0 59px;

  background: $bg-gray;
  &__title {
    position: relative;
    z-index: 200;

    @include main-title(0 0 -32px 60px);
  }
  &__list {
    position: relative;

    display: flex;

    justify-content: space-between;
  }
  &__item {
    position: relative;
    z-index: 1;

    width: 33%;

    transition: z-index .5s .1s;
    &:hover {
      z-index: 100;
    }
  }
  &__item--top {
    transform: translateY(-100px);
    .works--animation & {
      animation: worksTop 2s both;
    }
  }
  &__item--bottom {
    transform: translateY(100px);
    .works--animation & {
      animation: worksBottom 2s both;
    }
  }
  &__link {
    display: block;
    overflow: hidden;

    transition: .5s;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    &:hover {
      box-shadow: 0 0 30px rgba(0,0,0,.8);

      transform: scale(1.05);
    }
  }
}
@keyframes worksTop {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes worksBottom {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@media #{$tablet} {
  .works {
    &__title {
      margin-bottom: -20px;
    }
  }
}
@media #{$smart} {
  .works {
    padding: 36px $smart-padding 33px;

    background: $col-fff;
    &__title {
      margin: 0 0 12px;
    }
    &__list {
      display: block;
    }
    &__item {
      width: auto;
      margin: 0 0 10px;
    }
    &__item--top {
      transform: none;
    }
    &__item--bottom {
      transform: none;
    }
    &__link {
      max-width: 450px;
      margin: 0 auto;
      &:hover {
        box-shadow: none;

        transform: none;
      }
    }
  }
}
