.colors-sahola {
  width: 50%;
  padding-right: 5%;
  padding-bottom: 70px;
  padding-left: 7.35%;
  &__title {
    @include sahola-title(0 0 50px, $align: left);
  }
  &__list {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
  &__img {
    margin: 0;
    img {
      display: inline-block;
      height: auto;
      max-width: 100%;

      box-shadow: 10px 10px 21px rgba(129,129,129,.5);

      vertical-align: middle;
    }
  }
}

@media #{$tablet} {
  .colors-sahola {
    padding-bottom: 50px;
    &__title {
      margin-bottom: 35px;
    }
    &__img {
      text-align: center;
      img {
        max-width: 90%;

        box-shadow: 5px 5px 15px rgba(129,129,129,.5);
      }
    }
  }
}

@media #{$smart} {
  .colors-sahola {
    margin-bottom: 22px;
    padding: 0 5%;
    &__title {
      margin-bottom: 25px;
    }
  }
}
