.present {
  background: #1a1e27 no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  &__title {
    position: absolute;
    clip: rect(0,0,0,0);
    overflow: hidden;
    z-index: -1;
    visibility: hidden;
    height: 0;
    width: 0;
  }
  &__animation {
    width: 50%;
  }
  &__form {
    width: 50%;
    padding: 15px 40px 20px;
  }
  &__form-descr {
    margin: 0 0 60px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: $letter-spacing-50;
    color: $col-gold;
    quotes: "\0022" "\0022";
    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }
}
