.present {
  background: #1a1e27;
  display: flex;
  justify-content: flex-end;
  position: relative;
  &__title {
    position: absolute;
    clip: rect(0,0,0,0);
    overflow: hidden;
    z-index: -1;
    visibility: hidden;
    height: 0;
    width: 0;
  }
  &__form {
    position: relative;
    z-index: 100;
    width: 50%;
    min-width: 400px;
    padding: 15px 40px 20px;
    background: #1a1e27;
  }
  &__form-descr {
    margin: 0 0 60px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: $letter-spacing-25;
    color: $col-gold;
    span {
      display: block;
      font-size: 0.8em;
      font-weight: 400;
    }
  }
  &__animation {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__animation-title {
    display: none;
  }
  &__img {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  &__img-1,
  &__img-2,
  &__img-3 {
    height: 100%;
    width: auto;
    img {
      height: 100%;
      width: auto;
      display: block;
    }
  }
  &__img-2,
  &__img-3 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
  }
  &__img-2 {
    z-index: 10;
    .present__img-animation & {
      animation: presentImg1 8s linear both infinite;
    }
  }
  &__img-3 {
    z-index: 20;
    .present__img-animation & {
      animation: presentImg2 8s linear both infinite;
    }
  }
}
@keyframes presentImg1 {
  0 {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes presentImg2 {
  0 {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media #{$tablet} {
  .present {
    &__form {
      padding: 15px 20px 20px;
      min-width: 0;
    }
  }
}
@media #{$smart} {
  .present {
    background: $col-fff;
    display: block;
    &__animation {
      position: relative;
      width: auto;
      height: auto;
      top: auto;
      left: auto;
    }
    &__animation-title {
      margin: 0;
      display: block;
      position: absolute;
      width: 100%;
      top: 22px;
      left: 0;
      z-index: 50;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 1;
      color: $col-fff;
      letter-spacing: $letter-spacing-50;
      text-align: center;
      padding: 0 $smart-padding;
    }
    &__img-1,
    &__img-2,
    &__img-3 {
      height: auto;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__form {
      position: relative;
      z-index: 100;
      width: auto;
      margin: -20px $smart-padding 0;
      padding: 28px 0 30px;
      background: #f3f4f5;
      transition: 2s;
    }
    &__form-animation {
      margin-top: -200px;
    }
    &__form-descr {
      margin: 0 0 20px;

      font-size: 15px;
      line-height: 1.4;
      color: $col-333;
      text-transform: uppercase;
      span {
        text-transform: none;
        font-size: 12px;
      }
    }
  }
}
