.skill {
  padding: 80px 10px 60px;
}

.skill__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.skill__item {
  width: 9%;
  min-width: 100px;
  margin: 0;
  &:hover {
    .skill__logo {
      transform: rotateY(360deg);
    }
  }
}

.skill__logo {
  margin: 0 auto 25px auto;

  transition: 2s;
  img {
    display: block;
    width: 100%;
  }
}

.skill__title {
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

@media #{$tablet} {
  .skill {
    padding: 60px 10px 20px;
  }

  .skill__list {
    justify-content: space-around;
  }

  .skill__item {
    width: 17%;
    &:nth-child(-n+5) {
      margin: 0 0 35px 0;
    }
  }

  .skill__logo {
    max-width: 120px;
    max-height: 120px;
  }
}
@media #{$smart} {
  .skill {
    padding: 40px 10px 10px;
  }

  .skill__item {
    width: 33.333%;
    min-width: auto;
    margin: 0 0 15px 0;
    &:nth-child(-n+5) {
      margin: 0 0 15px 0;
    }
    &:nth-child(-n+4) {
      margin: 0 0 25px 0;
    }
  }

  .skill__logo {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 15px auto;
    padding: 0 10px;
  }

  .skill__title {
    font-size: 14px;
  }
}

@media #{$smart-landscape} {
  .skill__item {
    width: 25%;
  }
}
