.footer {
  display: flex;
  min-height: 80px;
  padding: 0 5%;

  align-items: center;
  justify-content: space-between;
  &__logo {
    @include logo;
  }
  &__phone {
    @include phone;
  }
  &__address {
    margin: 0 auto;

    font-size: 18px;
    font-style: normal;
    line-height: 1;
    letter-spacing: $letter-spacing-25;
  }
}
@media #{$smart} {
  .footer {
    min-height: 0;
    padding: 12px $smart-padding 5px;
    flex-direction: column;

    background: #2190e7;

    color: $col-fff;

    justify-content: center;
    &__logo {
      display: none;
    }
    &__phone {
      margin: 0 0 7px;

      color: $col-fff;
    }
    &__address {
      margin: 0;

      font-size: 10px;

      order: 2;
    }
  }
}
