.promo-sahola {
  &__header {
    padding: 51px 10.26% 58px 0;

    background: url(../img/case/sahola/promo/bg.jpg) no-repeat 50% 50%;
    background-size: cover;

    text-align: right;
  }
  &__logo {
    display: inline-block;
    margin: 0;

    vertical-align: middle;
    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }
  &__about {
    position: relative;

    padding: 58px 40px 86px 57.68%;
  }
  &__img {
    position: absolute;
    top: -111px;
    left: 0;

    width: 61.54%;
    margin: 0;
    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }
  &__descr {
    position: relative;
    z-index: 10;

    @include sahola-text;
    p {
      margin: 0;
    }
  }
}

@media #{$tablet} {
  .promo-sahola {
    &__header {
      padding: 35px 5% 40px 0;

      background-image: url(../img/case/sahola/promo/bg768.jpg);
    }
    &__about {
      padding: 40px 20px 13% 57.68%;
    }
    &__img {
      top: -25%;
    }
  }
}

@media #{$smart} {
  .promo-sahola {
    &__header {
      padding: 30px 20px 28px 0;

      background-image: url(../img/case/sahola/promo/bg320.jpg);
    }
    &__about {
      padding: 45px 35px 0 20px;
    }
    &__img {
      width: 195px;
      top: -87px;
    }
    // &__descr {
    //   max-width: 270px;
    // }
  }
}

@media (min-width: 480px) and (max-width: 550px) {
  .promo-sahola {
    &__header {
      background-image: url(../img/case/sahola/promo/bg480.jpg);
    }
    &__about {
      padding-top: 120px;
    }
    &__img {
      width: 295px;
    }
  }
}

@media (min-width: 551px) and (max-width: 767px) {
  .promo-sahola {
    &__header {
      background-image: url(../img/case/sahola/promo/bg480.jpg);
    }
    &__about {
      padding: 30px 20px 30px 50%;
    }
    &__img {
      width: 50%;
    }
    &__descr {
      max-width: 100%;
    }
  }
}
