.develop-electrical {
  padding: 0 0 40px 0;

  text-align: center;
  p {
    max-width: 650px;
    margin: 0 auto;

    @include electrical-text;
  }
  &__title {
    @include electrical-title (0 0 40px 0);
  }
  &__img {
    display: inline-block;
    width: 53%;
    max-width: 570px;
    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
@media #{$tablet} {
  .develop-electrical {
    padding: 0 0 25px 0;
    &__title {
      margin: 0 0 30px 0;
    }
    p {
      margin: 0 auto 20px auto;
    }
  }
}

@media #{$smart} {
  .develop-electrical {
    padding: 0 20px 15px 20px;
    &__title {
      margin: 0 0 15px 0;
    }
    &__img {
      width: 100%;
      max-width: 100%;
    }
    p {
      margin: 0 auto 10px auto;
    }
  }
}
