.develop-sahola {
  &__title {
    @include sahola-title(0 0 31px);
  }
  &__descr {
    max-width: 810px;
    padding: 0 20px;

    @include sahola-text(0 auto 45px);
    p {
      margin: 0;
    }
  }
  &__img {
    max-width: 1055px;
    margin: 0 auto;

    text-align: center;
    img {
      display: inline-block;
      height: auto;
      max-width: 100%;

      vertical-align: middle;
    }
  }
}
