.design-sahola {
  width: 100%;
  padding: 0 0 51px;

  background: url(../img/case/sahola/design/bg.jpg) no-repeat;
  background-position: left 50% bottom -33px;
  &__title {
    @include sahola-title(0 0 34px);
  }
  &__descr {
    max-width: 600px;

    @include sahola-text(0 auto 55px, $align: center);
    p {
      margin: 0;
    }
  }
  &__img {
    text-align: center;
    &--laptop {
      width: 73%;
      margin: 0 auto 35px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    &--long {
      width: 50%;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
        height: auto;

        box-shadow: 0 0 24px 1px rgba(129, 129, 129, .56);
      }
    }
  }
}

@media #{$tablet} {
  .design-sahola {
    padding: 0 0 40px;

    background-image: url(../img/case/sahola/design/bg768.jpg);
    background-size: contain;
    &__title {
      margin-bottom: 25px;
    }
    &__descr {
      margin-bottom: 35px;
    }
    &__img {
      &--long {
        img {
          box-shadow: 0 0 15px 1px rgba(129, 129, 129, .56);
        }
      }
    }
  }
}

@media #{$smart} {
  .design-sahola {
    padding: 0 0 34px;

    background-image: url(../img/case/sahola/design/bg320.jpg);
    &__title {
      margin-bottom: 17px;
    }
    &__descr {
      margin-bottom: 13px;
      padding: 0 20px;
    }
    &__img {
      &--laptop {
        margin-bottom: 20px;
      }
    }
  }
}

@media #{$smart-landscape} {
  .design-sahola {
    background-image: url(../img/case/sahola/design/bg480.jpg);
  }
}
