.design-sahola {
  width: 100%;
  padding: 0 0 51px;

  background: url(../img/case/sahola/design/bg.jpg) no-repeat;
  background-position: left 50% bottom -33px;
  &__title {
    @include sahola-title(0 0 34px);
  }
  &__descr {
    max-width: 600px;

    @include sahola-text(0 auto 55px, $align: center);
    p {
      margin: 0;
    }
  }
  &__img {
    margin: 0;

    text-align: center;
    img {
      display: inline-block;
      height: auto;
      max-width: 100%;

      vertical-align: middle;
    }
    &--laptop {
      margin-bottom: 35px;
    }
    &--long {
      img {
        box-shadow: 0 0 24px 1px rgba(129, 129, 129, .56);
      }
    }
  }
}
