.header {
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  &__logo {
    @include logo;
  }
  &__phone {
    @include phone;
  }
}
@media #{$smart} {
  .header {
    padding: 0 $smart-padding;
    min-height: 44px;
    background: #e1e2e6;
    color: $col-fff;
    &__phone {
      letter-spacing: $letter-spacing-50;
    }
  }
}
