.header {
  display: flex;
  min-height: 60px;
  padding: 0 5%;

  align-items: center;
  justify-content: space-between;
  &__logo {
    @include logo;
  }
  &__phone {
    @include phone;
  }
}
@media #{$smart} {
  .header {
    min-height: 44px;
    padding: 0 $smart-padding;

    background: #e1e2e6;

    color: $col-fff;
  }
}
