.typography-checker {
  padding: 0 0 75px 0;
  &__container {
    display: flex;

    justify-content: space-around;
  }
  &__title {
    @include checker-title (0 0 70px 0);
  }
  &__title-bg {
    @include checker-title-bg;
  }
  &__title-text {
    position: relative;
    z-index: 4;
  }
  &__item {
    width: 33.3333%;
    padding: 0 20px;

    text-align: center;

    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 170px;
      max-height: 100%;
      margin: 0 auto;
    }
  }
  &__img {
    display: inline-block;
    margin: 0 0 50px 0;
  }
  &__descr {
    font-weight: 700;

    @include checker-text(0, $col-text--dark-gray);
  }
}
@media #{$smart} {
  .typography-checker {
    padding: 0 0 55px 0;
    &__img {
      margin: 0 0 17% 0;
    }
  }
}
@media (max-width: 480px) {
  .typography-checker {
    padding: 0 0 40px 0;
    &__descr {
      font-size: 14px;
    }
  }
}
@media (max-width: 395px) {
  .typography-checker {
    padding: 0 0 30px 0;
    &__descr {
      font-size: 10px;
    }
  }
}
