.typography-sahola {
  width: 50%;
  padding-bottom: 6%;
  padding-left: 5%;
  &__title {
    @include sahola-title(0 0 50px, $align: left);
  }
  &__list {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }
  &__img {
    margin: 0;
    img {
      display: inline-block;
      height: auto;
      max-width: 100%;

      vertical-align: middle;
    }
  }
}
