.typography-checker {
 padding: 0 0 75px 0;
  &__container{
  display: flex;
  justify-content: space-around;
}
  &__title{
    @include checker-title (0 0 70px 0);
  }
  &__title-bg{
    @include checker-title-bg;
  }
  &__title-text{
position: relative;
      z-index: 4;
  }
  &__item{
    width: 33.3333%;

    text-align: center;

    img{
      max-width: 170px;
      height: auto;
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  &__img{
    display: inline-block;
    margin: 0 0 50px 0;
  }
  &__descr{
     @include checker-text(0, $col-text--dark-gray);
    font-weight: 700;
  }

}

