.benefits {
  padding: 37px 55px;

  background: $bg-gray;
  &__title {
    text-align: right;

    @include main-title(0 0 17px);
  }
  &__quote {
    margin: 0 0 30px;

    font-size: 22px;
    font-weight: 700;
    line-height: 1.36;
    color: $bg-blue;
    text-align: right;
    letter-spacing: $letter-spacing-25;

    quotes: "\0022" "\0022";
    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }
  &__descr {
    font-size: 30px;
    line-height: 2;
    color: #989797;
    text-align: center;
    letter-spacing: $letter-spacing-25;
    p {
      margin: 0;

      transition: .5s;
    }
  }
  &__descr-gray {
    color: #181717;
  }
}
@media #{$smart} {
  .benefits {
    padding: 37px $smart-padding 24px;

    background: $col-fff;
    &__title {
      margin: 0 0 9px;
    }
    &__quote {
      margin: 0 0 15px;

      font-size: 14px;
      line-height: 1.29;
    }
    &__descr {
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: .01em;
    }
  }
}
