.btn {
  display: inline-block;

  border: 0;
  border-radius: 0;
  outline: none;

  font-size: 24px;
  line-height: 1;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: $letter-spacing-25;

  transition: .3s;
  &--red {
    min-width: 220px;
    padding: 18px 15px;

    background: #c90202;
    &:hover,
    &:active {
      background: #830202;
    }
  }
  &--orange {
    min-width: 200px;
    padding: 13px 15px;

    background: #ff9302;
    &:hover,
    &:active {
      background: #c60;
    }
  }
}

@media #{$smart} {
  .btn {
    padding: 12px 15px;

    font-size: 16px;
    &--red {
      min-width: 160px;
    }
    &--orange {
      min-width: 140px;
    }
  }
}
