.who {
  padding: 35px 0 50px;
  max-width: 1130px;
  position: relative;
  &--active {
    &::after {
      transform: perspective(1000px) rotateY(-19deg);
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50px;
    z-index: -1;
    width: 420px;
    height: 440px;
    opacity: 0.6;
    transform-origin: 100% 50%;
    transition: 1s;
    background: linear-gradient(to bottom, #02a0f1, #15d4d9) no-repeat 50% 0;
  }
  &__title {
    @include main-title(0 7px 0 0);
    text-align: right;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    width: 31%;
    margin: 0;
    flex-shrink: 0;
    text-align: center;
    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }
  &__info {
    max-width: 92%;
  }
  &__descr {
    width: 69%;
    padding: 70px 40px 85px;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: $letter-spacing-25;
    position: relative;

    p {
      margin: 0;
    }
    .who--active & {
      &::after {
        transform: perspective(1000px) rotateY(24deg);
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      z-index: -1;
      top: -10px;
      width: 46%;
      height: 100%;
      opacity: 0.4;
      transform-origin: 0 50%;
      transition: 1s;
      background: linear-gradient(to bottom, #02a0f1, #15d4d9) no-repeat 50% 0;
    }
  }
}
@media #{$tablet} {
  .who {
    padding: 20px 0 0;
    &__title {
      margin: 0 58px 10px;
    }
    &::after {
      width: 31%;
      height: 80%;
    }
    &__info {
      max-width: 100%;
    }
    &__img {
      margin-right: 92px;
      margin-bottom: 42px;
      max-width: 26%;
    }
    &__descr {
      padding: 50px 45px 56px;
      width: 64%;
      font-size: 18px;
      line-height: 1.33;
    }
  }
}
@media #{$smart} {
  .who {
    padding: 52px $smart-padding 32px;
    &--active {
      &::after {
        transform: perspective(700px) rotateY(-34deg);
      }
      &::before {
        transform: perspective(400px) rotateY(15deg);
      }
    }
    &::after {
      top: 65px;
      width: 115px;
      height: 220px;
      opacity: 0.4;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 45px;
      left: 0;
      width: 40%;
      height: 225px;
      opacity: 0.4;
      transform-origin: 0 50%;
      transition: 1s;
      background: linear-gradient(to bottom, #02a0f1, #15d4d9) no-repeat 50% 0;
    }
    &__title {
      margin: 0 0 30px;
    }
    &__info {
      flex-direction: column;
      align-items: center;
    }
    &__img {
      position: relative;
      order: 2;
      width: 50%;
      margin: 0;
      max-width: 100%;
    }
    &__info {
      max-width: 100%;
    }
    &__descr {
      width: auto;
      padding: 0;
      font-size: 16px;
      line-height: 1.25;
      margin: 0 0 35px;
      &::after {
        display: none;
      }
    }
  }
}
