.who {
  position: relative;

  max-width: 1130px;
  padding: 35px 0 50px;
  &--active {
    &::after {
      transform: perspective(1000px) rotateY(-19deg);
    }
  }
  &::after {
    position: absolute;
    top: 50px;
    right: 0;

    width: 420px;
    height: 440px;

    opacity: .6;
    background: linear-gradient(to bottom, #02a0f1, #15d4d9) no-repeat 50% 0;

    content: "";
    transition: 1s;
    transform-origin: 100% 50%;
  }
  &__title {
    position: relative;
    z-index: 10;

    text-align: right;

    @include main-title(0 7px 0 0);
  }
  &__info {
    position: relative;
    z-index: 10;

    display: flex;

    justify-content: space-between;
  }
  &__img {
    width: 31%;
    margin: 0;

    text-align: center;

    flex-shrink: 0;
    img {
      display: inline-block;
      height: auto;
      max-width: 100%;
    }
  }
  &__info {
    max-width: 92%;
  }
  &__descr {
    position: relative;

    width: 69%;
    padding: 70px 40px 85px;

    font-size: 30px;
    line-height: 1.4;
    letter-spacing: $letter-spacing-25;

    p {
      position: relative;
      z-index: 10;

      margin: 0;
    }
    .who--active & {
      &::after {
        transform: perspective(1000px) rotateY(24deg);
      }
    }
    &::after {
      position: absolute;
      top: -10px;
      left: 0;

      width: 46%;
      height: 100%;

      opacity: .4;
      background: linear-gradient(to bottom, #02a0f1, #15d4d9) no-repeat 50% 0;

      content: "";
      transition: 1s;
      transform-origin: 0 50%;
    }
  }
}
@media #{$tablet} {
  .who {
    padding: 20px 0 0;
    &__title {
      margin: 0 58px 10px;
    }
    &::after {
      width: 31%;
      height: 80%;
    }
    &__info {
      max-width: 100%;
    }
    &__img {
      max-width: 26%;
      margin-right: 92px;
      margin-bottom: 42px;
    }
    &__descr {
      width: 64%;
      padding: 50px 45px 56px;

      font-size: 18px;
      line-height: 1.33;
    }
  }
}
@media #{$smart} {
  .who {
    padding: 52px $smart-padding 32px;
    &--active {
      &::after {
        transform: perspective(700px) rotateY(-34deg);
      }
      &::before {
        transform: perspective(400px) rotateY(15deg);
      }
    }
    &::after {
      top: 65px;

      width: 115px;
      height: 220px;

      opacity: .4;
    }
    &::before {
      position: absolute;
      bottom: 45px;
      left: 0;

      width: 40%;
      height: 225px;

      opacity: .4;
      background: linear-gradient(to bottom, #02a0f1, #15d4d9) no-repeat 50% 0;

      content: "";
      transition: 1s;
      transform-origin: 0 50%;
    }
    &__title {
      margin: 0 0 30px;
    }
    &__info {
      flex-direction: column;

      align-items: center;
    }
    &__img {
      position: relative;

      width: 50%;
      max-width: 100%;
      margin: 0;

      order: 2;
    }
    &__info {
      max-width: 100%;
    }
    &__descr {
      width: auto;
      margin: 0 0 35px;
      padding: 0;

      font-size: 16px;
      line-height: 1.25;
      &::after {
        display: none;
      }
    }
  }
}
