.benefits {
  padding: 37px 20px 70px 20px;

  // background: $bg-gray;
  &__title {
    text-align: center;

    @include main-title(0 0 17px);
  }
  &__quote {
    margin: 0 0 30px;

    font-size: 22px;
    font-weight: 700;
    line-height: 1.36;
    color: $bg-blue;
    text-align: center;
    letter-spacing: $letter-spacing-25;

    quotes: "\0022" "\0022";
    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }

  &__wrap {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
  }

  &__descr {
    width: 50%;
    margin: 0;
    padding: 0 0 0 10px;

    font-size: 24px;
    line-height: 2;
    color: #333;
    text-align: center;
    text-align: left;
    letter-spacing: $letter-spacing-25;

    list-style: none;

    li {
      position: relative;

      margin: 0;
      padding: 0 0 0 1.1em;

      transition: .5s;
      &::before {
        position: absolute;
        top: 50%;
        left: 0;

        width: .668em;
        height: .668em;
        margin-top: -.4em;

        border-radius: 50%;
        background: #fed4b4;

        content: "";
      }
    }
  }
  &__descr-gray {
    color: #181717;
  }
}
@media #{$tablet} {
  .benefits {
    &__wrap {
      flex-wrap: wrap;
      // display: flex;
      justify-content: center;
    }
    // padding: 37px 58px;
    &__quote {
      font-size: 18px;
    }
    &__descr {
      width: 64%;
      min-width: 380px;

      font-size: 20px;
    }
  }
}
@media #{$smart} {
  .benefits {
    &__descr {
      // width: 100%;
      min-width: 310px;

      font-size: 13px;
      // text-align: center;      
    }
  }
}
@media #{$smart-landscape} {
  .benefits {
    padding: 37px $smart-padding 35px;

    background: $col-fff;
    &__title {
      margin: 0 0 9px;
    }
    &__quote {
      margin: 0 0 15px;

      font-size: 14px;
      line-height: 1.29;
    }
    &__descr {
      min-width: 380px;

      font-size: 16px;
      line-height: 1.88;
      letter-spacing: .01em;
    }
  }
}
