html {
  font-size: $htmlSize;
  box-sizing: border-box;
}
body {
  font: 1rem/1 "Evolventa", "Helvetica", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: $col-333;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.wrapper {
  @include wrapper;
}
