@mixin main-title($margin: 0) {
  font-weight: 700;
  margin: $margin;
  letter-spacing: $letter-spacing-50;
  font-size: 100px;
  line-height: 1;
  color: $col-main-title;
  text-transform: uppercase;
  @media #{$tablet} {
    font-size: 80px;
  }
  @media #{$smart} {
    font-size: 30px;
  }
}
@mixin checker-title($margin: 0, $color: $col-red) {
  font-weight: 700;
  margin: $margin;
  letter-spacing: $letter-spacing--10;
  font-size: 44px;
  line-height: 1;
  color: $color;
  text-transform: uppercase;
  text-align: center;
}
@mixin checker-text($margin: 0, $color: $col-333) {
  font-weight: 500;
  margin: $margin;
  letter-spacing: $letter-spacing-50;
  font-size: 22px;
  line-height: 1.68;
  color: $color;
}

@mixin wrapper {
  max-width: 1170px;
  margin: 0 auto;
  @media #{$smart} {
    padding: 0;
  }
}

@mixin fieldset($margin: 0, $padding: 0) {
  margin: $margin;
  padding: $padding;
  border: 0;
}
@mixin phone($color: $col-333) {
  text-decoration: none;
  color: $color;
  font-size: 20px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  letter-spacing: $letter-spacing-200;
  @media #{$tablet} {
    font-size: 18px;
  }
  @media #{$smart} {
    font-size: 16px;
    letter-spacing: $letter-spacing-50;
  }
}

@mixin logo($width: 200px) {
  margin: 0;
  width: $width;
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  @media #{$tablet} {
    width: 150px;
  }
  @media #{$smart} {
    width: 100px;
  }
}

@mixin promo-img($zindex: 1, $opacity: 0) {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $zindex;
  opacity: $opacity;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

