$htmlSize: 14px;


$font-path: "/font";
$img-path: "/img";


$col-333: #333;
$col-fff: #fff;
$col-main-title: #b6b9c1;


$bg: #fff;
$bg-blue: #1888df;


$col-invalid: #e26464;
$col-valid: #2bd42b;

$letter-spacing-25: 0.025em;
$letter-spacing-50: 0.05em;
$letter-spacing-200: 0.2em;
