// Global
$htmlSize: 14px;
$font-path: "../font";

$media1300: 1300px;
$media1240: 1240px;
$media1070: 1070px;
$media1024: 1024px;
$media767: 767px;
$media600: 600px;
$media500: 500px;
$media480: 480px;
$media375: 375px;
$media350: 350px;

$col: #fff;
$blue-link: #00a3bb;

$blue: #009ed1;
$blue-dark: #008ebc;
$blue-darker: #026b8d;

$blue-light: rgba(255,255,255,.5);
$blue-lighter: #f2fafd;
$blue-opacity: rgba(2,121,159,.64);

$orange: #ffd200;
$orange-hover: #ff9615;

$black: #070008;
$black-light: #2d2d2d;
$form-col: #353535;
$form-bg-focus: #80cde6;
$grey: #f1f1f1;
$grey-light: #f9f9f9;
