.present {
  position: relative;

  display: flex;

  background: #1a1e27;

  justify-content: flex-end;
  &__title {
    position: absolute;
    z-index: -1;

    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clip: rect(0,0,0,0);
  }
  &__form {
    width: 50%;
    padding: 15px 40px 20px;
  }
  &__form-descr {
    margin: 0 0 60px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    color: $col-gold;
    text-align: center;
    letter-spacing: $letter-spacing-25;
    // quotes: "\0022" "\0022";
    // &::before {
    //   content: open-quote;
    // }
    // &::after {
    //   content: close-quote;
    // }
    span {
      display: block;

      font-size: .8em;
      font-weight: 400;
    }
  }
  &__animation {
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;
  }
  &__animation-title {
    display: none;
  }
  &__img {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  &__img-1,
  &__img-2,
  &__img-3 {
    width: auto;
    height: 100%;
    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }
  &__img-2,
  &__img-3 {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;

    transition: .5s;
  }
  &__img-2 {
    z-index: 10;
    .present__img-animation & {
      animation: presentImg1 8s linear both infinite;
    }
  }
  &__img-3 {
    z-index: 20;
    .present__img-animation & {
      animation: presentImg2 8s linear both infinite;
    }
  }
}
@keyframes presentImg1 {
  0 {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes presentImg2 {
  0 {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media #{$smart} {
  .present {
    display: block;

    background: $col-fff;
    &__animation {
      position: relative;
      top: auto;
      left: auto;

      width: auto;
      height: auto;
    }

    &__animation-title {
      position: absolute;
      top: 22px;
      left: 0;
      z-index: 50;

      display: block;
      width: 100%;
      margin: 0;
      padding: 0 $smart-padding;

      font-size: 20px;
      line-height: 1;
      color: $col-fff;
      text-align: center;
      letter-spacing: $letter-spacing-50;
      text-transform: uppercase;
    }
    &__img-1,
    &__img-2,
    &__img-3 {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__form {
      position: relative;
      z-index: 100;

      width: auto;
      margin: -20px $smart-padding 0;
      padding: 28px 0 30px;

      background: #f3f4f5;

      transition: 2s;
    }
    &__form-animation {
      margin-top: -200px;
    }
    &__form-descr {
      margin: 0 0 20px;

      font-size: 15px;
      line-height: 1.4;
      color: $col-333;
      text-transform: uppercase;
      span {
        font-size: 12px;
        text-transform: none;
      }
    }
  }
}
