.form {
  &--alone {
    max-width: 400px;
    margin: 0 auto;
  }
  &--present {
    text-align: center;
    max-width: 405px;
    margin: 0 auto;
  }
  &-wrap {
    background: $bg-blue url(#{$img-path}/form/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 46px 0 50px;
    text-align: center;
  }
  &-title {
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: $letter-spacing-50;
    color: $col-fff;
    margin: 0 0 50px;
  }
  &__field {
    position: relative;
    @include fieldset(0 0 30px, 20px 0 0);
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
  }
  &__field-textarea {
    margin: 0 0 70px;
  }
  &__field-wrap {
    display: flex;
    justify-content: space-between;
  }
  &__field--present {
    margin-bottom: 25px;
    padding-top: 15px;
    font-size: 14px;
  }
  &__field-textarea--present {
    margin: 0 0 25px;
  }
  &__field--short {
    width: 50%;
    max-width: 180px;
  }
  &__input {
    display: block;
    height: 33px;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: $letter-spacing-25;
    color: $col-fff;
    background: transparent;
    padding: 5px 10px;
    text-align: center;
    border: 0;
    border-bottom: 3px solid $col-fff;
    transition: .3s;
    &:focus + .form__label,
    &:required:valid + .form__label{
      top: 0;
      font-size: 0.75em;
    }
    outline: none;
  }
  &__input--present {
    height: 29px;
    border-bottom-color: $col-gold;
    padding: 6px 0;
    text-align: left;
    color: $col-gold;
  }
  &__input--valid {
    border-bottom-color: $col-valid;
  }
  &__input--invalid {
    border-bottom-color: $col-invalid;
  }
  &__label {
    position: absolute;
    width: 100%;
    letter-spacing: $letter-spacing-25;
    color: $col-fff;
    text-align: center;
    left: 0;
    top: 1.4em;
    transition: .3s;
  }
  &__label--present {
    color: $col-gold;
    text-align: left;
  }
  .form__label--focus {
    top: 0;
    font-size: 0.75em;
  }
  &__text-invalid {
    color: $col-invalid;
    margin: 0;
    font-weight: 400;
    position: absolute;
    bottom: -1.4em;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
  }
  &__feedback {
    display: none;
  }
}
@media #{$smart} {
  .form {
    &--present {
      padding: 0 10px;
    }
    &-wrap {
      padding: 26px $smart-padding 29px;
    }
    &-title {
      font-size: 16px;
      line-height: 2;
      margin: 0 0 40px;
    }
    &__field {
      margin-bottom: 25px;
      padding-top: 12px;
      font-size: 12px;
    }
    &__field-textarea {
      margin-bottom: 50px;
    }
    &__field--present {
      margin-bottom: 14px;
      padding-top: 10px;
      font-size: 10px;
    }
    &__field-textarea--present {
      margin: 0 0 28px;
    }
    &__field--short {
      width: 45%;
      max-width: 100%;
    }
    &__input {
      height: 20px;
      padding: 3px 5px;
      border-bottom-width: 2px;
    }
    &__input--present {
      height: 19px;
      border-bottom-color: #bbbec5;
      padding: 6px 0;
      text-align: left;
      color: $col-333;
    }
    &__label {
      top: 1.2em;
    }
    &__label--present {
      color: $col-333;
    }
    &__text-invalid {
      font-size: 0.75em;
      top: 4em;
      bottom: auto;
    }
  }
}
