.results-sahola {
  display: flex;
  min-height: 600px;
  padding: 9.5727% 4.7% 0 0;

  background: url(../img/case/sahola/results/bg.jpg) no-repeat 50% 50%;
  background-size: cover;

  text-align: right;

  justify-content: flex-end;
  &__wrap {
    width: 45%;
    max-width: 475px;
  }
  &__title {
    @include sahola-title(0 0 35px, $col-fff, left);
  }
  &__descr {
    @include sahola-text($color: $col-fff);
    p {
      margin: 0;
    }
  }
}
