.works-case {
  &__container {
    display: flex;
    padding: 10px 0 0 0;

    justify-content: space-between;
  }
  &__item {
    position: relative;
    position: relative;
    z-index: 10;

    width: 49.4%;
    overflow: hidden;

    transition: .5s;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    &:hover {
      box-shadow: 0 0 30px rgba(0,0,0,.8);

      transform: scale(1.05);
    }
  }
  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    font-size: 0;
  }
}
